*~
*.a
*.exe
*.o
*.orig
*.rej
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.xz
.deps
/.tarball-version
/.version
/aclocal.m4
/autom4te.cache
/build-aux/.gitignore
/checks/[0-9][0-9].*
/checks/[0-9][0-9][0-9].*
/checks/stamp-checks
/config.cache
/config.guess
/config.h
/config.log
/config.status
/config.sub
/config-h.in
/configure
/configure.lineno
/CVS
/depcomp
/doc/.gitignore
/doc/m4.1
/doc/m4.??
/doc/m4.???
/doc/m4.html
/doc/m4.info*
/doc/manual
/doc/stamp-vti
/doc/version.texi
/gendocs.sh
/GNUmakefile
/gnupload
/install-sh
/lib/*
!/lib/Makefile.am
/link-warning.h
/m4-*
/m4/.gitignore
/m4/gnulib-comp.m4
/maint.mk
Makefile.in
Makefile
/missing
/src/m4
/stamp-h
/stamp-h1
/stamp-h.in
/tests/*
!/tests/Makefile.am
