*~
*.bak
*.exe
*.o
*.orig
*.rej
*.tar.bz2
*.tar.gz
.deps
.tarball-version
.version
aclocal.m4
autom4te.cache
/build-aux/*
!/build-aux/compile
!/build-aux/config.guess
!/build-aux/config.sub
!/build-aux/depcomp
!/build-aux/install-sh
!/build-aux/mdate-sh
!/build-aux/texinfo.tex
/checks/[0-9][0-9][0-9].*
/checks/stamp-checks
config.cache
/config.guess
config.h
config.log
config.status
/config.sub
config-h.in
configure
configure.lineno
CVS
/depcomp
/doc/.gitignore
/doc/fdl-1.3.texi
/doc/gendocs_template
/doc/gpl-3.0.texi
/doc/m4.1
/doc/m4.??
/doc/m4.???
/doc/m4.html
/doc/m4.info*
/doc/manual
/doc/mdate-sh
/doc/stamp-vti
/doc/texinfo.tex
/doc/version.texi
gendocs.sh
GNUmakefile
gnupload
/install-sh
/lib/*
!/lib/Makefile.am
link-warning.h
/m4/*
!/m4/gnulib-cache.m4
m4-*
/maint.mk
Makefile.in
Makefile
/missing
/src/m4
stamp-h
stamp-h1
stamp-h.in
/tests/*
!/tests/Makefile.am
