*~
.#*
.patch_number
*.orig
*.rej
ABOUT-NLS
aclocal.m4
aclocal.m4t
autom4te.cache
build-aux
config.cache
config.h
config-h.in
config.log
config.status
configure
COPYING
cscope.*
CVS
gnu
INSTALL
intl
libtool
*.log
m4-*
Makefile
Makefile.in
patches
*.patch
stamp-h
stamp-h1
stamp-h.in
stamp-vcl
