*.o
*.la
*.lo
.deps
.dirstamp
.libs
aclocal.m4
argz.c
argz_.h
argz.h
autom4te.cache
config
config-h.in
config.*
configure
configure.ac
COPYING.LIB
libltdl
libtool
loaders
lt*.c
lt*.h
Makefile.am
Makefile.in
Makefile.inc
Makefile
README
slist.c
stamp-h1
