*.aux
*.cp
*.cps
*.dvi
*.fn
*.fns
*.html
*.ky
*.log
*.pdf
*.pg
*.ps
*.toc
*.tp
*.vr
.dirstamp
fdl-1.3.texi
gendocs_template
gpl-3.0.texi
Makefile.in
Makefile
manual
m4.info*
m4.1
regexprops-generic.texi
stamp-vti
version.texi
